# Project exclude paths
/out/
auth.cfg
generateSQL.class
src/queries.class
src/characters.title.principals.sql
src/genres.title.basics.sql
src/jobs.name.basics.sql
src/knownFor.name.basics.sql
src/name.basics.sql
src/partOf.title.basics.sql
src/title.akas.sql
src/title.basics.sql
src/title.episode.sql
src/title.principals.sql
src/title.ratings.sql
src/works.name.basics.sql
src/platform.sql
src/availableOn.sql
src/LoadMovies.class
.gitignore
