# Project exclude paths
/out/
# .sql files
src/characters.title.principals.sql
src/genres.title.basics.sql
src/jobs.name.basics.sql
src/knownFor.name.basics.sql
src/name.basics.sql
src/partOf.title.basics.sql
src/title.akas.sql
src/title.basics.sql
src/title.episode.sql
src/title.principals.sql
src/title.ratings.sql
src/works.name.basics.sql
src/platform.sql
src/availableOn.sql
# .sql files end
# .class files
generateSQL.class
src/LoadMovies.class
src/ClientCommandHandler.class
src/ClientConnection.class
src/UserCommandHandler.class
src/StandardIO.class
src/RunServer.class
src/Server.class
# .class files end
# misc
.gitignore
auth.cfg
src/.vscode/settings.json
